.enter-room-container {
    display: flex;
    height: 100vh;
    background: #252839;
    align-items: center;
    justify-content: center;
}

.enter-room-container input {
    height: 48px;
    background: transparent;
    color: #FFF;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid greenyellow;
}

.enter-room-container button {
    background: greenyellow;
    width: 100px;
    border: none;
    margin-left: 24px;
    font-size: 20px;
    color: #252839;
    text-transform: uppercase;
    font-weight: bold;
}